
{% extends "base.html" %}
{% block content %}
<div class="container  p-5">
    
    <div class="col-6  mx-auto shadow bg-light">
        <h2 class="alert alert-success text-center">Login form</h2>
        <div class="p-5">
            <form action="" method="POST">
                {% csrf_token%}
    
                {{form.as_p}}
                <button class="btn btn-success mt-2 mb-2">Login</button>
                <p>don't have an account? Register <a href="{% url 'register' %}">Here</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock content %}